body {
    padding-top: 100px;
    background-color: #5a8c56;
    text-align: center;
    font-size: 1.275em;
    margin:0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
}

#footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;

}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

#content {
  margin-left: 30%;
  margin-bottom: 100px;
}

ul {
    text-align: left;
}

li span
    { position: relative; left: -10px; }


.progress_outer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.progress {
    margin-left: 15px;
    margin-right: 15px;
}


